<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    <body>
        <main class="row">
            <div th:each="p:${items}" class="col-sm-4">
            	<div class="panel panel-primary poly-item text-center">
            		<div class="panel-heading" style="background-color: #008080; color: white">
            			<div class="panel-title" th:utext="${p.name}"></div>
           			</div>
            		<div class="panel-body">
            			<a th:href="@{|/product/detail/${p.id}|}">
            				<img th:src="@{|/assets/images/${p.image}|}">
            			</a>
            		</div>
            		<div class="panel-footer">
            		<div><b class="pull-center">[[${p.price}]] Đ</b></div>
            		</div>
            	</div> 	
            </div>
        </main>
    </body>
</html>